.green {
    margin: 100px;
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: green;
}

.red {
    margin: 200px;
    width: 200px;
    height: 200px;
    z-index: 2;
    position: absolute;
    background-color: red;
}

.blue {
    margin: 300px;
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: blue;
}

#scoreboard {
    position: fixed;
    bottom: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 150px;
}

.score {
    display: flex;
    flex-direction: column;
}

.label {
    text-decoration: underline;
    font-size: 24px;
}

.number {
    font-size: 50px;
    font-weight: bold;
}

#wow {
    font-size: 75px;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 10px;
    display: none;
}

.green:hover {
    background-color: greenyellow;
    border-radius: 50%;
    z-index: 999;
}

.red:hover {
    rotate: 45deg;
}

.blue:hover {
    outline-style: dotted;
    outline-color: blue;
    background-color: transparent;
}