body {
    background-color: aquamarine;
}

h1 {
    text-align: center;
}

p {
    font-size: 19px;
    margin: 20px;
    letter-spacing: 1px;
    
}
img {
    display: block;
    border-radius: 10px;
    margin: 30px auto;
}
